= render 'user_head', user: @user, title: 'ストックした投稿'

#user-stocks.tab-pane.fade.in.active
  = render partial: 'item', collection: @stocks, locals: { tags_in_new_line: true }

  .text-center = paginate @stocks
